@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

/* intial spacing */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,
body{
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    background-attachment: fixed;
    height: 100%;
}
/* Homepage Container*/
#homepage-container,
#services-container,
#about-us-container,
#services-container,
#form-container{
    min-height: 100%;
}

#homepage-main,
#services-main,
#about-us-main,
#services-main,
#form-main{
    overflow: auto;
    padding-bottom: 50vh;

}

/* Navbar Style*/
nav{
    display:flex;   
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 12vh;
    background-color: rgb(26, 64, 99);
    box-shadow: 0px 10px 10px 0px rgb(189, 189, 189);
}
/* Logo style*/
.logo img{
    width: 100%;
    max-width: 230px;
    height: auto;
    padding: 5px 0px;
    margin-left: 0.75rem;
}
/* Nav Links*/
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 60%;
    
}
.nav-links li{
    list-style: none;
}
.nav-links a {
    color: whitesmoke;
    text-decoration: none;
    letter-spacing: 1px;
    font-family: 'Anton', sans-serif;
    font-weight: 550;
    font-size: 23px;
    text-transform: uppercase;
    transition: 0.5s;
}

.nav-links a:hover{
    color: #f0c424;
    transition: all 0.3s ease-in-out;
}
/* To highlight the current page. */
.nav-links .current{
    color: #f0c424;
    font-size: 25px;
    transition: all 0.3s ease-in;
}

/*Login and Register button style*/
.login-register-button, 
.admin-login-button,
.user-login-button{
    display: flex;
    padding-right:20px;
}

.login-register-button li, 
.admin-login-button li,
.user-login-button li{
    list-style: none;
    font-family: 'Roboto', sans-serif;
    
}


.login-register-button li button,
.admin-login-button li button,
.user-login-button li button
{
    width: 150px;
    min-height: 40px;
    font-size: 0.9rem;
    
    text-decoration: none;
    background-color: #fdca0e;
    color:rgb(33, 85, 133);
    font-family: inherit;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s ease;
    outline: none;
    box-shadow: none;
    border: 1px;
}
.login-register-button button:focus,
.admin-login-button button:focus {
    border: 0;
 }

.login-register-button li button:hover,
.admin-login-button li button:hover,
.user-login-button li button:hover
{
    background-image: linear-gradient(to left, rgb(233, 225, 153) 0%, #f0c424 100%);
    z-index: 10px;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(161, 161, 161, 0.514), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*Burger style*/
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 40px;
    height: 5px;
    margin: 5px;
    background-color: whitesmoke;
    border-radius: 2px ;
    box-shadow: inherit;
    transition: all 0.3s ease;
}

@media screen and (max-width:1110px){

    .logo img{
        max-width: 185px;
    }
}


/*Media Queries for Navbar */
@media screen and (max-width:1024px){
    body{
        overflow-x: hidden;
    }
    
    .logo img{
        max-width: 165px;
        padding: 0px 0px 0px 5px;
    }
    
    .nav-links {
        position: absolute;
        right: 0px;
        height: 88vh;
        top: 12vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(26, 64, 99);
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }


    
    .burger{
      display: block;
      right: 0px;
      padding-right: 4vw; 
    }
    .login-register-button li button,
    .admin-login-button li button,
    .user-login-button li button
    {
        width: 120px;
        min-height: 40px;
        font-size: 0.7rem;
    }
    .login-register-button li,
    .admin-login-button li,
    .user-login-button li{
        display: flex;
        padding-left: 46vw;
        padding-right: 0px;
        background-color: inherit;
    }

}



@media screen and (max-width:778px){
    .logo img{
        max-width: 165px;
        padding: 0px 0px 0px 5px;
    }
    .login-register-button li,
    .admin-login-button li,
    .user-login-button li{
        padding-left: 32vw;
    }
}
@media screen and (max-width:600px){
    
    .logo img{
        max-width: 160px;
        padding: 0px 0px 0px 5px;
    }

    .login-register-button li,
    .admin-login-button li,
    .user-login-button li{
        padding-left: 20vw;
    }
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
/*End of Media Queries for Navbar */

/* Navlinks Transform animation*/
.nav-active{
    transform: translateX(0%); 
}

/*Burger Transform */
.toggle .line1 {
    transform: rotate(-45deg) translate(-7px,8px);
}

.toggle .line2 {
    opacity: 0; 
}

.toggle .line3 {
    transform: rotate(45deg) translate(-7px,-8px);
}

/*End of NavBar Style*/
 
/*
.to-top {
     padding: 20px;
     position: fixed;
    color: khaki;
    background-color: black;
    width: 100px;
 }
 */

/* Image-slider*/

.img-slider{
	height: 88vh;
	overflow:hidden;
    position: relative;
    box-shadow: 0px 10px 10px 0px rgb(189, 189, 189);
    font-family: 'Roboto',sans-serif;
}

.img-slider .slide{
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	z-index:1; 
	display:none;
	padding:0 15px;
	animation: slide 2s ease;
}
.img-slider .slide.active{
	display: flex;
}
@keyframes slide{
	0%{
		transform:scale(1.1);
	}
	100%{
		transform: scale(1);
	}
}
.container{
	max-width: 1170px;
	margin:auto;
	
}

.img-slider .container{
	 flex-grow: 1;
}
.img-slider .caption{
	width:50%;
}
.img-slider .caption h1{
	font-size:42px;
	margin:0;
	
}
.img-slider .slide.active .caption h1{
	opacity:0;
	animation: captionText .5s ease forwards;
	animation-delay:1s;
	color: rgb(26, 64, 99);
	font-size: 3rem;
}
.img-slider .caption p{
	font-size: 18px;
	margin:15px 0 30px;
	font-weight: 600;
}
.img-slider .slide.active .caption p{
	opacity:0;
	animation: captionText .5s ease forwards;
	animation-delay:1.2s;
	color: rgb(26, 64, 99);
}

.img-slider .caption a{
 display: inline-block;
 padding:10px 30px;
 background-color: rgb(26, 64, 99);
 text-decoration: none;
 color:#fdca0e;
 margin-right: 1rem;
 margin-top: 0.5rem;
}

.img-slider .caption a:hover{
	background-color: #fdca0e;
	color: rgb(26, 64, 99);
}

.img-slider .slide.active .caption a{
	opacity:0;
	animation: captionText .5s ease forwards;
	animation-delay:1.4s;
}

@keyframes captionText{
	0%{
		opacity:0; transform: translateX(-100px);
	}
	100%{
	 opacity:1; transform: translateX(0px);	
	}
}

.img-slider .controls .prev,
.img-slider .controls .next{
 position: absolute;
 z-index:2;
 top:50%;
 height:40px;
 width: 40px;
 margin-top: 0px;
 border-radius: 50%;
 color:#ffffff;
 background-color: rgb(26, 64, 99);
 text-align: center;
 line-height: 40px;
 font-size:20px;
 cursor:pointer;
 transition: all .5s ease;
}

.img-slider .controls .prev{
	margin-left: 0.5rem;
}

.img-slider .controls .next{
	margin-right: 0.5rem;
}
.img-slider .controls .prev:hover,
.img-slider .controls .next:hover{
	background-color: #fdca0e;
}
.img-slider .controls .prev{
 left:0;
}
.img-slider .controls .next{
 right:0;
}

.img-slider .indicator{
	position: absolute;
	left:50%;
	bottom:30px;
	z-index: 2;
	transform: translateX(-50%);
	cursor: default;
}

.img-slider .indicator div{
	display: inline-block;
	width: 1rem;
	height: 1rem;
	color:#fdca0e;
	background-color: #fdca0e;
	border-radius:50%;
	text-align: center;
	line-height: 1rem;
	margin:0 3px;
}

.img-slider .indicator div.active{
 background-color: rgb(26, 64, 99);
 color: rgb(26, 64, 99);
}

/*responsive*/
@media(max-width: 1024px){
	
	.img-slider{
		height: 65vh;
    }
    
    .controls{
        display: none;
    }
	
}
@media(max-width: 767px){
	.controls{
		display: none;
	}
	.img-slider{
		height: 55vh;
	}
	
	.img-slider .slide.active .caption .slide1{
		color:rgb(11, 32, 51);
	}
}


/*interest rate home page*/
.interest-rate-container{
    height: auto;
    font-family: 'Roboto',sans-serif;
 }

#personal-loan-card{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Font_Awesome_5_solid_wallet.svg/512px-Font_Awesome_5_solid_wallet.svg.png");
    background-size: 20rem; 
    background-repeat: no-repeat;
    background-blend-mode: hue;
    background-position: -20px 110px;
} 

#home-loan-card{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Home_font_awesome.svg/1200px-Home_font_awesome.svg.png");
    background-size: 24rem; 
    background-repeat: no-repeat;
    background-blend-mode: hue;
    background-position: -100px 70px;
}

#car-loan-card{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/Font_Awesome_5_solid_car-alt.svg/512px-Font_Awesome_5_solid_car-alt.svg.png");
    background-size: 18rem; 
    background-repeat: no-repeat;
    background-blend-mode: hue;
    background-position: -25px 100px;
}

#business-loan-card{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/52/Font_Awesome_5_solid_piggy-bank.svg/512px-Font_Awesome_5_solid_piggy-bank.svg.png");
    background-size: 20rem; 
    background-repeat: no-repeat;
    background-blend-mode: hue;
    background-position: -85px 100px; 
}

#gold-loan-card{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/Font_Awesome_5_solid_coins.svg/512px-Font_Awesome_5_solid_coins.svg.png");
    background-size: 20rem; 
    background-repeat: no-repeat;
    background-blend-mode: hue;
    background-position: -20px 110px; 
}

#education-loan-card{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Font_Awesome_5_solid_graduation-cap.svg/1279px-Font_Awesome_5_solid_graduation-cap.svg.png");
    background-size: 23rem; 
    background-repeat: no-repeat;
    background-blend-mode: hue;
    background-position: -40px 120px; 
}

#personal-loan-card:hover,
#home-loan-card:hover,
#car-loan-card:hover,
#business-loan-card:hover,
#gold-loan-card:hover,
#education-loan-card:hover{
    background-blend-mode: lighten;
}
.loan:hover{
    background-color: #f0c424b6;
    color: rgb(11, 32, 51);
    transition: all 0.5s ease-in;
}

.interest-rate-container .heading-interest-rate h2{
    font-size: 2.2rem;
    letter-spacing: 0.2px;
    color: rgb(26, 64, 99);
    text-align: center;
    margin: 2rem 0rem;
    text-transform: uppercase;
    text-decoration-color: lightsalmon;
    padding: 0.5rem 1rem;
}

.interest-rate-loan-wrapper{
    display: grid;
    margin: 20px;
    grid-gap: 3rem;
    color: rgb(26, 64, 99);
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    padding: 0em 4em;
}

.interest-rate-loan-wrapper > div{  
  background-color: rgba(255, 255, 255, 0.8);
  height: 350px;
  width: auto;
}

.interest-rate-loan-wrapper > div:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),
    0 8px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
}

.interest-rate-loan-wrapper > div:hover::after{
    content: '';
    opacity: 1;
}

.interest-rate-loan-wrapper .loan .loan-title {
    text-align: center;
    padding-top: 3rem;
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.interest-rate-container .loan .interest-rate-percentage{
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.interest-rate-container .loan .interest-rate-date{
    text-align: center;
    padding-top: 0.1rem;
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: 600;
}

.interest-rate-container .loan .interest-rate-tc{
    text-align: right;
    padding-top: 3rem;
    margin-bottom: 20px;
    font-size: 1rem;
}
.interest-rate-container .loan .interest-rate-tc a{
    text-align: right;
    padding-top: 3rem;
    padding-right: 0.5rem;
    margin-bottom: 20px;
    font-size: 1rem;
    text-decoration: none;
    color: rgb(26, 64, 99);
}

.button-interest-rate {
    margin-top: 3rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-interest-rate button{
    height:50px;
    width: 200px;
    border: 3px solid rgb(26, 64, 99);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: inherit;
    color: rgb(26, 64, 99);
    outline: none;
    box-shadow: none;
    text-decoration: none;
}


.button-interest-rate button:hover{
    background-color: rgb(26, 64, 99);
    color: whitesmoke;
    transform: scale(1.0);
    transition: all 0.3s ease-in-out;   
}

.interest-rate-loan-wrapper .button-interest-rate button:hover::after{
    content: '';
    opacity: 1;
}




@media (max-width:1632px) and (min-width:1025px){
    .interest-rate-loan-wrapper{
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
        padding: 0em 1em;
    }
}

@media screen and (max-width:1024px){
    
    .interest-rate-loan-wrapper{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        padding: 0em 1em;
    }
}

@media screen and (max-width:860px){
    
    .interest-rate-loan-wrapper{
        grid-template-columns: repeat(auto-fit, (minmax(260px, 1fr)));
        padding: 0em 1em;
    }
    #loan-title{
        font-size: 2.2rem;
        font-weight: 500;
    }
}
@media screen and (max-width:768px){
    
    .interest-rate-loan-wrapper{
        grid-template-columns: repeat(auto-fit, (minmax(300px, 1fr)));
        padding: 0em 1em;
    }
    #loan-title{
        font-size: 2.2rem;
    }
}

/* Handpicked Offers */
.handpicked-offer-container{
    height: auto;
    font-family: 'Roboto',sans-serif;
 }

.handpicked-offer-container .heading-handpicked-offer h2{
    font-size: 2.2rem;
    letter-spacing: 0.2px;
    color: rgb(26, 64, 99);
    text-align: center;
    text-transform: uppercase;
    text-decoration-color: lightsalmon;
    padding: 0.5rem 1rem;
}

.handpicked-offer-wrapper{
    display: grid;
    margin: 20px;
    grid-gap: 3rem;
    color: rgb(26, 64, 99);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 0em 4em;
}

.handpicked-offer-wrapper > div{  
  background-color: rgba(245, 245, 245, 0.842);
  height: auto;
  width: auto;
  border-radius: 25px;
  overflow: hidden;
}

.handpicked-offer-wrapper > div:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),
    0 8px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
}

.offer img{
    max-width: 100%;
    width: 100%;
    height: 25vh;
    align-self: center;
}

.offer .handpicked-offer-card-info h3{
    margin: 2rem 3rem 0rem 2rem ;
    font-size: 2.25rem;
    font-family: 'Roboto', sans-serif;
}

.offer .handpicked-offer-card-info h4{
    margin: 1rem 3rem 0rem 2rem ;
    font-size: 1.15rem;
    font-family: 'Roboto', sans-serif;
    color: rgb(15, 81, 146);
}

.offer .handpicked-offer-card-info a{
    color: gray;
    font-size: 0.95rem;
    text-decoration: none;
}

.offer .handpicked-offer-card-info a:hover{
    color: rgb(15, 81, 146);
}

.button-handpicked-offer-card {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-handpicked-offer-card button{
    height:50px;
    width: 150px;
    border: 3px solid rgb(26, 64, 99);
    border-radius: 25px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: inherit;
    background-color: whitesmoke;
    color: rgb(26, 64, 99);
    border: 3px solid rgb(26, 64, 99);
    outline: none;
    box-shadow: none;
    text-decoration: none;
}


.button-handpicked-offer-card button:hover{
    background-color: rgb(26, 64, 99);
    color: whitesmoke;
    transform: scale(1.0);
    transition: all 0.3s ease-in-out;   
}
.button-handpicked-offer {
    margin-top: 3rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-handpicked-offer button{
    height:50px;
    width: 200px;
    border: 3px solid rgb(26, 64, 99);
    border-radius: 25px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: inherit;
    
    background-color: rgb(26, 64, 99);
    color: whitesmoke;
    outline: none;
    box-shadow: none;
    text-decoration: none;
}


.button-handpicked-offer button:hover{
    border: 3px solid rgb(26, 64, 99);
    background-color: inherit;
    color: rgb(26, 64, 99);
    transform: scale(1.0);
    transition: all 0.3s ease-in-out;   
}

.handpicked-offer-wrapper .button-handpicked-offer button:hover::after{
    content: '';
    opacity: 1;
}

@media (max-width:1750px) and (min-width:1600px){
    .offer .handpicked-offer-card-info h3{
        font-size: 2rem;
    }
    .offer .handpicked-offer-card-info h4{
        font-size: 1.05rem;
    }
    .offer .handpicked-offer-card-info a{
        font-size: 0.85rem;
    }
}


@media (max-width:1599px) and (min-width:1400px){
    .offer .handpicked-offer-card-info h3{
        font-size: 1.60rem;
    }
    .offer .handpicked-offer-card-info h4{
        font-size: 1rem;
    }
    .offer .handpicked-offer-card-info a{
        font-size: 0.80rem;
    }
    .btn-handpicked-offer-card button{
        width: 150px;
        height:40px;
        font-size: 0.85rem;
    }
}

@media (max-width:1399px) and (min-width:768px){
    .handpicked-offer-wrapper{
        grid-template-columns: repeat(2,1fr);
    }
    .offer .handpicked-offer-card-info h3{
        font-size: 1.60rem;
    }
    .offer .handpicked-offer-card-info h4{
        font-size: 1rem;
    }
    .offer .handpicked-offer-card-info a{
        font-size: 0.80rem;
    }
    .btn-handpicked-offer-card button{
        width: 150px;
        height:40px;
        font-size: 0.85rem;
    }

}

@media (max-width:767px) and (min-width:730px){
    .handpicked-offer-wrapper{
        grid-template-columns: repeat(1,1fr);
    }
    .offer .handpicked-offer-card-info h3{
        font-size: 1.75rem;
    }
    .offer .handpicked-offer-card-info h4{
        font-size: 1rem;
    }
    .offer .handpicked-offer-card-info a{
        font-size: 0.80rem;
    }
    .btn-handpicked-offer-card button{
        width: 150px;
        height:40px;
        font-size: 0.85rem;
    }

}


@media screen and (max-width:729px){
    .handpicked-offer-wrapper{
        grid-template-columns: repeat(1,1fr);
    }

    .offer .handpicked-offer-card-info h3{
        font-size: 1.75rem;
    }
    .offer .handpicked-offer-card-info h4{
        font-size: 1rem;
    }
    .offer .handpicked-offer-card-info a{
        font-size: 0.80rem;
    }
    .btn-handpicked-offer-card button{
        width: 150px;
        height:40px;
        font-size: 0.85rem;
    }

}



/* Footer */

#main-footer{
    position: relative;
    background-color: rgb(26, 64, 99);
    height: auto;
    margin-top: -50vh;
    clear: both;
    padding: 1.3rem 1.5rem;
    font-family: 'Roboto',sans-serif;
}
/* Contact and Follow COntainer*/
.contact-follow-container{
    display: flex;
    column-gap: 30vw;
    padding: 0.25rem 1rem;
    border-bottom: 1px solid rgba(245, 245, 245, 0.699);
}


.contact-us-container > .contact-us-title, 
.follow-us-container > .follow-us-title {
    color: whitesmoke;
    font-size: 1.25rem;
    border-left: 0.3rem solid #fdca0e;
    padding-left: 0.3rem;
}


.contact-us-details{
    color: whitesmoke;
    font-size: 1.2rem;
    margin: 0.75rem 0rem;
}
.contact-us-details > span{
    padding-right: 1rem;
}
.social-icons {
    margin: 0.75rem 0rem;
    color: whitesmoke;
}
.social-icons > i{
    padding-right: 0.5rem;
}

.fa-twitter:hover{
    color: #1DA1F2;
    transition: all 0.3s ease-in;
}

.fa-linkedin-in:hover{
    color: #0e76a8;
    transition: all 0.3s ease-in;
}

.fa-facebook-f:hover{
    color: #1778f2;
    transition: all 0.3s ease-in;
}

.fa-instagram:hover{
    color: #d6249f;
    transition: all 0.3s ease-in;
}


@media (max-width:1598px) and (min-width:1375px){
    .contact-follow-container{
        column-gap: 17vw;
    }
}
@media (max-width:1374px) and (min-width:1200px){
    .contact-follow-container{
        column-gap: 5vw;
    }
}

@media screen and (max-width:1200px){
    .contact-follow-container{
        display: flex;
        flex-direction: column;
    }

    .contact-us-details{
        display: flex;
        flex-direction: column;
        font-size: 1.05rem;
    }
}



/*Footer Body Container*/
.footer-body-container{
    display: grid;
    grid-template-columns: repeat(3,60% 20% 20%);
    margin: 0.75rem 0rem;
    padding: 0.5rem 0.75rem;
    border-bottom: 1px solid rgba(245, 245, 245, 0.699);
}

.quick-links-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.quick-links-container li{
    list-style: none;
}
.quick-links-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: #fdca0e;
    padding-bottom: .75rem;
}

.quick-links-content{
    font-size: 1.05rem;
    font-weight: 500;
    color: whitesmoke;
    padding-bottom: .5rem;
}

.quick-links-content:hover{
    color: #fdca0e;
    transition: all 0.3s ease-in;
}
.get-app-container{
    display: flex;
    flex-direction: column;
    font-size: 1.45rem;
    font-weight: bold;
    color: #fdca0e;
}
.get-app-container img:nth-child(odd){
    max-width: 150px;
    height: 3.5rem;
    margin-top: 1rem;
    margin-left: 2.5rem;
}
.get-app-container img:nth-child(even){
    max-width: 150px;
    height: 3.55rem;
    margin-top: 1rem;
    margin-left: 2.5rem;
}

.newsletter-container{
    display: flex;
    row-gap: 1rem;
    flex-direction: column;
    font-size: 1.45rem;
    font-weight: bold;
    color: #fdca0e;
}

.newsletter-container span{
    font-size: 1.2rem;
    font-weight: normal;
    color: whitesmoke;
}

.newsletter-container .subscribe-form label{
    color: whitesmoke;
    display: inline-block;
    vertical-align: middle;
}
.newsletter-container .subscribe-form input{
    display: inline-block;
    vertical-align: middle;
    width: 15rem;
    height: 2rem;
    outline: none;
    border: 0px;
    margin: 0rem 0rem 0rem .5rem;
    font-size: 0.85rem;
    padding-left: 1rem;
    border-radius: 26px;
    box-shadow: inset 20px 20px 60px #d5dde2, 
                inset -20px -20px 60px #fcfeff;
}

.newsletter-container .subscribe-button{
    align-self: center;
    justify-content: center;
    display: flex;
    width: 18rem;
}

.newsletter-container .subscribe-button button{
    margin: 1rem auto auto auto;
    height:2rem;
    width: 10rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #fdca0e;
    color: rgb(26, 64, 99);
    outline: none;
    border : 0px;
    align-self: center;
}

.subscribe-button button:hover{
    background-image: linear-gradient(to left, rgb(233, 225, 153) 0%, #f0c424 100%);
    z-index: 10px;
    
}
.footer-bottom-container{
    margin: 1.45rem auto 0rem auto;
    font-size: 1.05rem;
    color: whitesmoke;
    text-align: center;
}


@media (max-width:1598px) and (min-width:1240px){
    .footer-body-container{
        grid-template-columns: repeat(3, 50% 25% 25%);
    }
}
@media (max-width:1240px) and (min-width:830px){
    .footer-body-container{
        grid-template-columns: 60% 40%;
    }
    .quick-links-container{
        grid-row: 1 / 3;
        grid-template-columns: repeat(2, 1fr);
    }

}
@media (max-width:830px) and (min-width:768px){
    .footer-body-container{
        grid-template-columns: 50% 50%;
        padding: 0em auto;
        align-content: center;
        gap: 2rem;
    }
    .quick-links-container{
        grid-column: 1 / span 2;
    }
    .get-app-container , .newsletter-container{
        margin-bottom: 1rem;
    }

}

@media screen and (max-width:768px){
    .footer-body-container{
        grid-template-columns: 50% 50%;
        padding: 0em auto;
        align-content: center;
        gap: 2rem;
    }
    .quick-links-container{
        grid-column: 1 / span 2;
        grid-template-columns: repeat(2,1fr);
    }
    .get-app-container , .newsletter-container{
        margin-bottom: 1rem;
    }
}

@media screen and (max-width:668px){
    .footer-body-container{
        grid-template-columns: 40% ;
        padding: 0em auto;
        align-content: center;
        gap: 2rem;
    }
    .quick-links-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .get-app-container , .newsletter-container{
        margin-bottom: 1rem;
    }
    .newsletter-container .subscribe-form input{
        width: 12rem;
    }
    .newsletter-container .subscribe-button{
        align-self: left;
        justify-content: left;
        width: 15rem;
    }
    .get-app-container img:nth-child(odd){
        margin-left: 1.5rem;
    }
    .get-app-container img:nth-child(even){
        margin-left: 1.5rem;
    }
}
@media screen and (max-width:668px){
    .get-app-container img:nth-child(odd){
        margin-left: 0.25rem;
    }
    .get-app-container img:nth-child(even){
        margin-left: 0.25rem;
    }
}






/*

  LOGIN-FORM-PAGE

*/

.user-login-form-container {
    margin: 2.5em auto 3rem auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.301);
    font-family: 'Roboto', sans-serif;
    width: 500px;
    height: auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

}

.logo-urban-bank-form{
    width: 138px;
    height: auto;
    background-color: rgb(26, 64, 99);
    margin:  0px auto;
    border-radius: 50%;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.404),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}
.logo-urban-bank-form-img{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 120px;
    height: auto;
}

.log-in-title{
    padding-top: 0.75rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
    color: rgb(26, 64, 99);
}

.login-credentials div {
    margin: 1.25rem 3rem;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.login-credentials div label{
    font-size: 1.5rem;
    color: rgb(26, 64, 99);
    padding-bottom:0.75rem;
    padding-left: 0.4rem;
    
}

/*Error Messages */
.error-messages{
    color: red;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

.error-messages{
    color: red;
    font-size: 1rem;
}

.success-messages{
    color: green;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 1rem;
}


.login-credentials div input{
    width: 400px;
    height: 3rem;
    outline: none;
    border: 0px;
    font-size: 1rem;
    padding-left: 1rem;
    border-radius: 25px;
    box-shadow: inset 20px 20px 60px #d5dde2, 
                inset -20px -20px 60px #fcfeff;
}











.login-checkbox {
    margin: auto;
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 1rem;
}

.login-checkbox a{
    color: rgb(26, 64, 99);
}









.login-submit-button {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-submit-button button{
    height:50px;
    width: 200px;
    border-radius: 25px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgb(26, 64, 99);
    color: white;
    outline: none;
    box-shadow: 
    15px 10px 60px 0 #1d1d1d7c, 
    -20px -20px 60px 0 #fffefe;
    border : 0px;
}

.login-submit-button button:focus{
    border: 0;
}
.login-submit-button button:hover{
    background-color: rgb(15, 81, 146);
    color: whitesmoke;
    transform: scale(1.0);
    transition: all 0.3s ease-in-out; 
}

.login-submit-button button:hover::after{
    content: '';
    opacity: 1;
}



.forgot-password {
    margin: auto;
    padding-top: 2.5rem;
    text-align: center;
    color: rgb(26, 64, 99);
    font-size: 1.1rem;
}

.forgot-password a{
    text-decoration: none;
    color: rgb(26, 64, 99);
    font-size: 1.1rem;
}

.forgot-password a span{
    color: rgb(177, 127, 19);
}

.forgot-password a span:hover{
    text-decoration: underline;
}


.ol-register-link{
    margin: auto;
    padding-top: 1.5rem;
    text-align: center;
    color: rgb(26, 64, 99);
    font-size: 1.1rem;
}

.ol-register-link a{
    text-decoration: underline;
    color: rgb(177, 127, 19);
    font-size: 1.1rem;
}

@media screen and (max-width:600px){
    .user-login-form-container {
        width: 400px;
    }

    .log-in-title h2{
        font-size: 2rem;
    }
    .logo-urban-bank-form{
        width: 120px ;
    }
    .logo-urban-bank-form-img{
        max-width: 100px;
    }

    .login-credentials div label{
        font-size: 1.3rem;
        color: rgb(26, 64, 99);
        padding-bottom: 0.5rem;
        padding-left: 0.2rem;
        
    }

    .login-credentials div input{
        width: 300px;
        height: 2.5rem;
        padding-left: 15px;
    }

    .login-checkbox label{
        font-size: 0.95rem;
    }
    .login-submit-button {
        margin-top: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .login-submit-button button{
        height:40px;
        width: 150px;
        font-size: 0.95rem;
    }

    
    .forgot-password , .forgot-password a span {
        font-size: 1rem;
    }

    .ol-register-link ,.ol-register-link a {
        font-size: 1rem;
    }
    
}


/*

 ONLINE-REGISTRATION-PAGE

*/

.user-ol-register-form-container {
    margin: 2.5em auto 3rem auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.301);
    width: 500px;
    height: auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.ol-register-title{
    padding-top: 0.75rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
    color: rgb(26, 64, 99);
}

.ol-register-credentials div {
    margin: 1.25rem 3rem;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.ol-register-credentials div label{
    font-size: 1.5rem;
    color: rgb(26, 64, 99);
    padding-bottom:0.75rem;
    padding-left: 0.4rem;
    
}

.ol-register-credentials div input{
    width: 400px;
    height: 3rem;
    outline: none;
    border: 0px;
    font-size: 1rem;
    padding-left: 1rem;
    border-radius: 25px;
    box-shadow: inset 20px 20px 60px #d5dde2, 
                inset -20px -20px 60px #fcfeff;
}



.ol-register-credentials .input-file{
    width: 400px;
    height: 2rem;
    box-shadow: none;
    border-radius: 25px;
}

.ol-register-credentials div p{
    font-size: 1.05rem;
    padding-left: 1rem;
    color: red;
}







.ol-register-checkbox {
    
    margin: auto;
    margin-top: 1rem;
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 1rem;
}

.ol-register-checkbox a{
    color: rgb(26, 64, 99);
}









.ol-register-button {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ol-register-button button{
    height:50px;
    width: 200px;
    border-radius: 25px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgb(26, 64, 99);
    color: white;
    outline: none;
    box-shadow: 
    15px 10px 60px 0 #1d1d1d7c, 
    -20px -20px 60px 0 #fffefe;
    border : 0px;
}

.ol-register-button button:focus{
    border: 0;
}
.ol-register-button button:hover{
    background-color: rgb(15, 81, 146);
    color: whitesmoke;
    transform: scale(1.0);
    transition: all 0.3s ease-in-out; 
}

.ol-register-button button:hover::after{
    content: '';
    opacity: 1;
}



.forgot-password {
    margin: auto;
    text-align: center;
    color: rgb(26, 64, 99);
    font-size: 1.1rem;
}

.forgot-password a{
    text-decoration: none;
    color: rgb(26, 64, 99);
    font-size: 1.1rem;
}

.forgot-password a span{
    color: rgb(177, 127, 19);
}

.forgot-password a span:hover{
    text-decoration: underline;
}


.register-process-link{
    margin: auto;
    text-align: center;
    color: rgb(26, 64, 99);
    font-size: 1.1rem;
}

.register-process-link a{
    text-decoration: underline;
    color: rgb(177, 127, 19);
    font-size: 1.1rem;
}

@media screen and (max-width:600px){
    .user-ol-register-form-container {
        width: 400px;
    }

    .ol-register-title h2{
        font-size: 2rem;
    }

    .ol-register-credentials div label{
        font-size: 1.3rem;
        color: rgb(26, 64, 99);
        padding-bottom: 0.5rem;
        padding-left: 0.2rem;
        
    }

    .ol-register-credentials div input{
        width: 300px;
        height: 2.5rem;
        padding-left: 15px;
    }

    .ol-register-checkbox label{
        font-size: 0.95rem;
    }
    .ol-register-button {
        margin-top: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ol-register-button button{
        height:40px;
        width: 150px;
        font-size: 0.95rem;
    }

    .ol-register-link ,.ol-register-link a {
        font-size: 1rem;
    }
    
}

/*

  Admin LOGIN-FORM-PAGE

*/

.admin-login-form-container {
    margin: 2.5em auto 3rem auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.301);
    width: 500px;
    height: auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.logo-urban-bank-form{
    width: 138px;
    height: auto;
    background-color: rgb(26, 64, 99);
    margin:  0px auto;
    border-radius: 50%;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.404),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}
.logo-urban-bank-form-img{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 120px;
    height: auto;
}

.log-in-title{
    padding-top: 0.75rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
    color: rgb(26, 64, 99);
}

.admin-login-credentials div {
    margin: 1.25rem 3rem;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.admin-login-credentials div label{
    font-size: 1.5rem;
    color: rgb(26, 64, 99);
    padding-bottom:0.75rem;
    padding-left: 0.4rem;
    
}


.admin-login-credentials div input{
    width: 400px;
    height: 3rem;
    outline: none;
    border: 0px;
    font-size: 1rem;
    padding-left: 1rem;
    border-radius: 25px;
    box-shadow: inset 20px 20px 60px #d5dde2, 
                inset -20px -20px 60px #fcfeff;
}







.admin-login-submit-button {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-login-submit-button button{
    height:50px;
    width: 200px;
    border-radius: 25px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgb(26, 64, 99);
    color: white;
    outline: none;
    box-shadow: 
    15px 10px 60px 0 #1d1d1d7c, 
    -20px -20px 60px 0 #fffefe;
    border : 0px;
}

.admin-login-submit-button button:focus{
    border: 0;
}
.admin-login-submit-button button:hover{
    background-color: rgb(15, 81, 146);
    color: whitesmoke;
    transform: scale(1.0);
    transition: all 0.3s ease-in-out; 
}

.admin-login-submit-button button:hover::after{
    content: '';
    opacity: 1;
}



.forgot-password {
    margin: auto;
    padding-top: 2rem;
    text-align: center;
    color: rgb(26, 64, 99);
    font-size: 1.1rem;
}

.forgot-password a{
    text-decoration: none;
    color: rgb(26, 64, 99);
    font-size: 1.1rem;
}

.forgot-password a span{
    color: rgb(177, 127, 19);
}

.forgot-password a span:hover{
    text-decoration: underline;
}


@media screen and (max-width:600px){
    .admin-login-form-container {
        width: 400px;
    }

    .log-in-title h2{
        font-size: 2rem;
    }
    .logo-urban-bank-form{
        width: 120px ;
    }
    .logo-urban-bank-form-img{
        max-width: 100px;
    }

    .admin-login-credentials div label{
        font-size: 1.3rem;
        color: rgb(26, 64, 99);
        padding-bottom: 0.5rem;
        padding-left: 0.2rem;
        
    }

    .admin-login-credentials div input{
        width: 300px;
        height: 2.5rem;
        padding-left: 15px;
    }

    .admin-login-submit-button {
        margin-top: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .admin-login-submit-button button{
        height:40px;
        width: 150px;
        font-size: 0.95rem;
    }

    
    .forgot-password , .forgot-password a span {
        font-size: 1rem;
    }

    
}

/*

  FORGOT-PASSWORD-PAGE

*/
.user-forgot-password-container {
    margin: 3em auto 3rem auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.301);
    width: 500px;
    height: auto;
    padding: 2rem 0rem 2.5rem 0rem;
}

.logo-urban-bank-login{
    width: 140px  ;
    height: auto;
    background-color: rgb(26, 64, 99);
    margin:  0px auto;
    border-radius: 50%;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.404),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}
.logo-urban-bank-login-img{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 120px;
    height: auto;
    padding: 10px 0px;
}

.forgot-password-title {
    padding-top: 1.2rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: rgb(26, 64, 99);
}

.forgot-password-credentials div{
    margin: 2rem 3rem;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.forgot-password-credentials div label{
    font-size: 1.5rem;
    color: rgb(26, 64, 99);
    padding-bottom:0.75rem;
    padding-left: 0.4rem;
    
}
.forgot-password-credentials div input{
    width: 400px;
    height: 3rem;
    outline: none;
    border: 0px;
    font-size: 1rem;
    padding-left: 1rem;
    border-radius: 25px;
    box-shadow: inset 20px 20px 60px #d5dde2, 
            inset -20px -20px 60px #fcfeff;
}

.forgot-password-send-button {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forgot-password-send-button button{
    height:50px;
    width: 200px;
    border-radius: 25px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgb(26, 64, 99);
    color: white;
    outline: none;
    box-shadow: 
    15px 10px 60px 0 #1d1d1d7c, 
    -20px -20px 60px 0 #fffefe;
    border : 0px;
}

.forgot-password-send-button button:focus{
    border: 0;
}
.forgot-password-send-button button:hover{
    background-color: rgb(15, 81, 146);
    color: whitesmoke;
    transform: scale(1.0);
    transition: all 0.3s ease-in-out; 
}

.forgot-password-send-button button:hover::after{
    content: '';
    opacity: 1;
}


@media screen and (max-width:600px){
    .user-forgot-password-container {
        width: 400px;
        height: auto;
    }

    .forgot-password-title h2{
        font-size: 2rem;
    }
    .logo-urban-bank-login{
        width: 120px ;
    }
    .logo-urban-bank-login-img{
        max-width: 100px;
    }

    .forgot-password-credentials div label{
        font-size: 1.3rem;
        color: rgb(26, 64, 99);
        padding-bottom: 0.5rem;
        padding-left: 0.2rem;
        
    }

    .forgot-password-credentials div input{
        width: 300px;
        height: 2.5rem;
        padding-left: 15px;
    }
    .forgot-password-send-button {
        margin-top: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .forgot-password-send-button button{
        height:40px;
        width: 150px;
        font-size: 0.95rem;
    }
}
/*

  ADMIN FORGOT-PASSWORD-PAGE

*/
.admin-forgot-password-container {
    margin: 3em auto 3rem auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.301);
    width: 500px;
    height: auto;
    padding: 2rem 0rem 2.5rem 0rem;
}



.admin-forgot-password-title {
    padding-top: 1.2rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: rgb(26, 64, 99);
}

.admin-forgot-password-credentials div{
    margin: 2rem 3rem;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.admin-forgot-password-credentials div label{
    font-size: 1.5rem;
    color: rgb(26, 64, 99);
    padding-bottom:0.75rem;
    padding-left: 0.4rem;
    
}
.admin-forgot-password-credentials div input{
    width: 400px;
    height: 3rem;
    outline: none;
    border: 0px;
    font-size: 1rem;
    padding-left: 1rem;
    border-radius: 25px;
    box-shadow: inset 20px 20px 60px #d5dde2, 
            inset -20px -20px 60px #fcfeff;
}

.admin-forgot-password-send-button {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-forgot-password-send-button button{
    height:50px;
    width: 200px;
    border-radius: 25px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgb(26, 64, 99);
    color: white;
    outline: none;
    box-shadow: 
    15px 10px 60px 0 #1d1d1d7c, 
    -20px -20px 60px 0 #fffefe;
    border : 0px;
}

.admin-forgot-password-send-button button:focus{
    border: 0;
}
.admin-forgot-password-send-button button:hover{
    background-color: rgb(15, 81, 146);
    color: whitesmoke;
    transform: scale(1.0);
    transition: all 0.3s ease-in-out; 
}

.admin-forgot-password-send-button button:hover::after{
    content: '';
    opacity: 1;
}


@media screen and (max-width:600px){
    .admin-forgot-password-container {
        width: 400px;
        height: auto;
    }

    .admin-forgot-password-title h2{
        font-size: 2rem;
    }

    .admin-forgot-password-credentials div label{
        font-size: 1.3rem;
        color: rgb(26, 64, 99);
        padding-bottom: 0.5rem;
        padding-left: 0.2rem;
        
    }

    .admin-forgot-password-credentials div input{
        width: 300px;
        height: 2.5rem;
        padding-left: 15px;
    }
    .admin-forgot-password-send-button {
        margin-top: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .admin-forgot-password-send-button button{
        height:40px;
        width: 150px;
        font-size: 0.95rem;
    }
}

/*

  FORGOT-USERNAME-PAGE

*/
.user-forgot-username-container {
    margin: 3em auto 3rem auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.301);
    width: 500px;
    height: auto;
    padding: 2rem 0rem 2.5rem 0rem;
}

.logo-urban-bank-login{
    width: 140px  ;
    height: auto;
    background-color: rgb(26, 64, 99);
    margin:  0px auto;
    border-radius: 50%;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.404),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}
.logo-urban-bank-login-img{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 120px;
    height: auto;
    padding: 10px 0px;
}

.forgot-username-title {
    padding-top: 1.2rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: rgb(26, 64, 99);
}

.forgot-username-credentials div{
    margin: 2rem 3rem;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.forgot-username-credentials div label{
    font-size: 1.5rem;
    color: rgb(26, 64, 99);
    padding-bottom:0.75rem;
    padding-left: 0.5rem;
    
}
.forgot-username-credentials div input{
    width: 400px;
    height: 3rem;
    outline: none;
    border: 0px;
    font-size: 1rem;
    padding-left: 1rem;
    border-radius: 25px;
    box-shadow: inset 20px 20px 60px #d5dde2, 
            inset -20px -20px 60px #fcfeff;
}

.forgot-username-send-button {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forgot-username-send-button button{
    height:50px;
    width: 200px;
    border-radius: 25px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgb(26, 64, 99);
    color: white;
    outline: none;
    box-shadow: 
    15px 10px 60px 0 #1d1d1d7c, 
    -20px -20px 60px 0 #fffefe;
    border : 0px;
}

.forgot-username-send-button button:focus{
    border: 0;
}
.forgot-username-send-button button:hover{
    background-color: rgb(15, 81, 146);
    color: whitesmoke;
    transform: scale(1.0);
    transition: all 0.3s ease-in-out; 
}

.forgot-username-send-button button:hover::after{
    content: '';
    opacity: 1;
}


@media screen and (max-width:600px){
    .user-forgot-username-container {
        width: 400px;
        height: auto;
    }

    .forgot-username-title h2{
        font-size: 2rem;
    }
    .logo-urban-bank-login{
        width: 120px ;
    }
    .logo-urban-bank-login-img{
        max-width: 100px;
    }

    .forgot-username-credentials div label{
        font-size: 1.3rem;
        color: rgb(26, 64, 99);
        padding-bottom: 0.5rem;
        padding-left: 0.2rem;
        
    }

    .forgot-username-credentials div input{
        width: 300px;
        height: 2.5rem;
        padding-left: 15px;
    }
    .forgot-username-send-button {
        margin-top: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .forgot-username-send-button button{
        height:40px;
        width: 150px;
        font-size: 0.95rem;
    }
}
/*Service and About-us Page title*/
.service-title,
.about-us-title{
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    margin: 1.75rem 2rem 0.5rem 2rem;
    font-weight: 600;
    padding-left: 0.625rem;
    border-left: 0.5rem solid rgb(26, 64, 99) ;
    color: rgb(26, 64, 99);
}
/*We provide card-service page*/
.service-card-icon{
    display: flex;
    justify-content: center;
}
.service-card-icon i{
    font-size: 13rem;
    margin-top: 1rem;
    color: #cea820;
}

.we-provide-container{
    height: auto;
    font-family: 'Roboto',sans-serif;
    text-align: center;
    margin-bottom: 2rem;
 }

.we-provide-container .heading-we-provide h2{
    font-size: 2.2rem;
    letter-spacing: 0.2px;
    color: rgb(26, 64, 99);
    text-align: center;
    text-transform: uppercase;
    text-decoration-color: lightsalmon;
    padding: 0.5rem 1rem;
}

.we-provide-wrapper{
    display: grid;
    margin: 20px;
    grid-gap: 3rem;
    color: rgb(26, 64, 99);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 0em 4em;
}

.we-provide-wrapper > div{  
  background-color: rgba(245, 245, 245, 0.842);
  height: auto;
  width: auto;
  border-radius: 25px;
  overflow: hidden;
}

.we-provide-wrapper > div:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),
    0 8px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
}

.we-provide .we-provide-card-info h3{
    margin: 2rem 3rem 0rem 2rem ;
    font-size: 2.25rem;
    font-family: 'Roboto', sans-serif;
}

.we-provide .we-provide-card-info h4{
    margin: 1rem 3rem 0rem 2rem ;
    font-size: 1.15rem;
    font-family: 'Roboto', sans-serif;
    color: rgb(15, 81, 146);
    text-align: justify;
    margin-bottom: 1rem;
}


@media (max-width:1790px) and (min-width:1670px){
    .we-provide .we-provide-card-info h3{
        font-size: 2rem;
    }
    .we-provide .we-provide-card-info h4{
        font-size: 1.05rem;
    }
    .we-provide .we-provide-card-info a{
        font-size: 0.85rem;
    }
}


@media (max-width:1669px) and (min-width:1410px){
    .service-card-icon i{
        font-size: 11rem;
    }
    .we-provide .we-provide-card-info h3{
        font-size: 1.60rem;
    }
    .we-provide .we-provide-card-info h4{
        font-size: 1rem;
    }
    .we-provide .we-provide-card-info a{
        font-size: 0.80rem;
    }
}

@media (max-width:1409px) and (min-width:768px){
    .we-provide-wrapper{
        grid-template-columns: repeat(2,1fr);
    }
    .we-provide .we-provide-card-info h3{
        font-size: 1.60rem;
    }
    .we-provide .we-provide-card-info h4{
        font-size: 1rem;
    }
    
}

@media (max-width:767px) and (min-width:730px){
    .we-provide-wrapper{
        grid-template-columns: repeat(1,1fr);
    } 
    .we-provide .we-provide-card-info h3{
        font-size: 1.75rem;
    }
    .we-provide .we-provide-card-info h4{
        font-size: 1rem;
    }

}


@media screen and (max-width:729px){
    .we-provide-wrapper{
        grid-template-columns: repeat(1,1fr);
    }
    .heading-we-provide h2{
        font-size: 1.7rem;
    }
    .we-provide .we-provide-card-info h3{
        font-size: 1.75rem;
    }
    .offer .handpicked-offer-card-info h4{
        font-size: 1rem;
    }

}

@media screen and (max-width:800px){
    
    .we-provide-container .heading-we-provide h2{
        font-size: 1.7rem; 
    }

} 
/*Our Core Values-Service Page*/
.our-core-value-container{
    height: auto;
    font-family: 'Roboto',sans-serif;
    text-align: center;
    margin-bottom: 3rem;
 }

 .our-core-value-container .heading-our-core-value h2{
    font-size: 2.2rem;
    letter-spacing: 0.2px;
    color: rgb(26, 64, 99);
    text-align: center;
    text-transform: uppercase;
    text-decoration-color: lightsalmon;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
}

.our-core-value-wrapper{
    display: grid;
    margin: 10px 0px 10px 0px;
    grid-gap: 3rem;
    color: rgb(26, 64, 99);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 0em 1em;
}

.our-core-value-card-icon i{
    font-size: 4rem;
}

.our-core-value-card-info h3{
    margin-top: 1rem;
}

@media (max-width:996px) and (min-width:848px){
    .our-core-value-wrapper{
        grid-gap: 0.5rem;
        padding: 0em 0.1em;
    }
    .our-core-value-card-icon i{
        font-size: 2.55rem;
    }
    .our-core-value-card-info h3{
        margin-top: 1rem;
        grid-template-columns: repeat(4,1fr);
        font-size: 1rem;
    }
}

@media (max-width:848px) and (min-width:746px){
    
    .our-core-value-wrapper{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width:800px){

    .our-core-value-container .heading-our-core-value h2{
        font-size: 1.7rem; 
    }

}

.corporate-partner-container{
    height: auto;
    font-family: 'Roboto',sans-serif;
    text-align: center;
    margin-bottom: 4rem;
}

.corporate-partner-container .heading-corporate-partner h2{
    font-size: 2.2rem;
    letter-spacing: 0.2px;
    color: rgb(26, 64, 99);
    text-align: center;
    text-transform: uppercase;
    text-decoration-color: lightsalmon;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
}

.corporate-partner-wrapper {
    display: grid;
    margin: 10px 0px 10px 0px;
    grid-gap: 2rem;
    color: rgb(26, 64, 99);
    grid-template-columns: repeat(3, 1fr);
    padding: 0em 0em;
}

.corporate-partner-wrapper i{
    font-size: 10rem;
    color: rgb(167, 164, 164);
}

.fa-accusoft:hover{
    color:rgb(7, 168, 7);
    transition: all 0.3s ease;
}

.fa-amazon:hover{
    color: orange;
    transition: all 0.3s ease;
}

.fa-asymmetrik:hover{
    color: maroon;
    transition: all 0.3s ease;
}

.fa-microsoft:hover{
    color: rgb(33, 119, 233);
    transition: all 0.3s ease;
} 

.fa-cc-visa:hover{
    color: #1a1f71;
    transition: all 0.3s ease;
} 

.fa-cc-mastercard:hover{
    color: #f79e1b ;
    transition: all 0.3s ease;
}  

.fa-cloudflare:hover{
    color: #404041 ;
    transition: all 0.3s ease;
}  
 
.fa-fedex:hover{
    color: #4D148C ;
    transition: all 0.3s ease;
}  

.fa-dashcube:hover{
    color: black ;
    transition: all 0.3s ease;
}  

.fa-fedora:hover{
    color: #0B57A4 ;
    transition: all 0.3s ease;
}  

.fa-gg:hover{
    color: rgb(56, 55, 55) ;
    transition: all 0.3s ease;
}  

.fa-keycdn:hover{
    color: rgb(12, 12, 124) ;
    transition: all 0.3s ease;
} 

@media screen and (max-width:800px){
    .corporate-partner-container .heading-corporate-partner h2{
        font-size: 1.7rem; 
    }

    .corporate-partner-wrapper{
        grid-template-columns: repeat(2,1fr);
    }

    .corporate-partner-wrapper i{
        font-size: 7rem;
    }
}

.team-section{
    padding: 3rem;
    height: auto;
    font-family: 'Roboto',sans-serif;
    text-align: center;
    margin-bottom: 2rem;
}

.heading-team h2{
    font-size: 2.2rem;
    letter-spacing: 0.2px;
    color: rgb(26, 64, 99);
    text-align: center;
    text-transform: uppercase;
    text-decoration-color: lightsalmon;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.team-container{
	max-width: 1250px;
    margin:auto;
    font-family: 'Roboto', sans-serif;
}


.team-row{
	display: flex;
	flex-wrap: wrap;
}

.team-section .section-title{
	flex-basis: 100%;
	max-width: 100%;
	margin-bottom: 70px;
}

.team-section .section-title h1{
	font-size: 40px;
	text-align: center;
	margin:0;
	color: #ffffff;
	font-weight: 700;
}

.team-section .section-title p{
	font-size:16px;
	text-align: center;
	margin:15px 0 0;
	color:#ffffff;
}
.team-section .team-items{
	
	flex-basis: 100%;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.team-section .team-items .item{
 flex-basis: calc(25% - 30px);
 max-width: calc(25% - 30px);
 transition: all .5s ease;
 margin-bottom: 40px;
}
.team-section .team-items .item img{
	display: block;
	width: 100%;
	border-radius: 8px;
}

.team-section .team-items .item .inner{
	position: relative;
	z-index: 11;
	padding:0 15px;
}
.team-section .team-items .item .inner .info{
	
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
	text-align: center;
	padding: 20px 15px;
	border-radius:8px;
	transition: all .5s ease;
	margin-top: -40px;
}
.team-section .team-items .item:hover  .info{
    transform: translateY(-20px);
}
.team-section .team-items .item:hover{
 transform: translateY(-10px);	
}
.team-section .team-items .item .inner .info h5{
	margin:0;
	font-size: 1.25rem;
	font-weight: 600;
	color:rgb(26, 64, 99);
}
.team-section .team-items .item .inner .info p{
	font-size: 16px;
	font-weight: 400;
	color:rgb(26, 64, 99);;
	margin:10px 0 0;
}

.team-section .team-items .item .inner .info .social-links{
	padding-top: 15px;
}

.team-section .team-items .item .inner .info .social-links a{
	display: inline-block;
	height: 32px;
    width: 32px;
	border-radius: 50%;
	margin:0 2px;
	text-align: center;
	line-height: 32px;
	font-size:16px;
	transition: all .5s ease;
}

.team-section .team-items .item .inner .info .social-links a i{
    color: black;
}

.team-section .team-items .item .inner .info .social-links a:hover{
	box-shadow: 0 0 10px #000;
}

.team-section .team-items .item .inner .info .social-links a .fa-twitter:hover{
    color: #1DA1F2;
    transition: all 0.3s ease-in;
}

.team-section .team-items .item .inner .info .social-links a .fa-linkedin-in:hover{
    color: #0e76a8;
    transition: all 0.1s ease-in;
}

.team-section .team-items .item .inner .info .social-links a .fa-facebook-f:hover{
    color: #1778f2;
    transition: all 0.1s ease-in;
}

.team-section .team-items .item .inner .info .social-links a .fa-instagram:hover{
    color: #d6249f;
    transition: all 0.1s ease-in;
} 

/*responsive*/
@media(max-width: 991px){
	.team-section .team-items .item{
      flex-basis: calc(50% - 30px);
       max-width: calc(50% - 30px);

   }
}

@media screen and (max-width: 767px){
    .heading-team h2{
        font-size: 1.7rem;
    }
	.team-section .team-items .item{
      flex-basis: calc(100%);
       max-width: calc(100%);

   }
}




/* Blog Alignment*/

::-webkit-scrollbar {
    width: 10px;
    height: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px inset; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: goldenrod; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(15, 81, 146); 
  }
  
  .blog-flex-container {
      display: -webkit-flex;
      display: flex;
      width: auto;
      height: auto;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      margin: 1rem;
  }
  
  .blog-flex-item {
      -webkit-flex-direction: column;
      flex-direction: column;
      flex:  500px;
      background-color: #EEEEEE;
      width: auto;
      height: auto;
      max-height: 50vh;
      margin: 20px;
      overflow-y: auto;
      box-shadow: 2px 3px 8px #888888;
  }
  
  .blog-flex-container-title {
      display: -webkit-flex;
      display: flex;
      width: auto;
      height: auto;
      background-color: rgb(26, 64, 99);
  }
  
  .blog-flex-container-title h1{
      font-size: 3rem;
  }
  
  
  .blog-flex-container-body {
      display: -webkit-flex;
      display: flex;
      background-color: #EEEEEE;
  }
  
  h1[id="blog_title"] {
      margin-left: 20px;
      font-family: 'Roboto', sans-serif;
      color: #f0c424;
      font-size: 2rem;
      margin-top: 2rem;
  }
  
  p[id="date"] {
      font-size: 1.1rem;
      color: #FAFAFA;
      margin-left: 20px;
      font-family: 'Roboto', sans-serif;
      margin-top: 10px;
      margin-bottom: 2rem;
  }
  
  p[id="blog_detail"] {
      font-size: 1.2rem;
      margin-left: 20px;
      font-family: 'Roboto', sans-serif;
      text-align: justify;
      margin-top: 0.3rem;
  }
  
